@using gastos.Controllers;
@{
    ViewData["Title"] = "gerenciarTabelas";
}

    <head>
        <script src="~/js/jQueryMin.js"></script>
    </head>
    <body onload="preencherTabelas('tabelaResumo','tabelaOrigens')">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm">
                    <h1 class="display-4">Gerenciamento de Tabelas</h1>
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <h2>Categorias de Despesa</h2>

                    <table class="table" id="tabelaResumo">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Apagar</th>
                            </tr>
                    </table>
                    <div class="col-12 text-left">
                        <button type="button" class="btn btn-primary" onclick="addRowToTable('tabelaResumo')">Adicionar</button>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <h2>Categorias de Descrição</h2>
                    <table class="table" id="tabelaOrigens">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Apagar</th>
                            </tr>
                    </table>
                    <div class="col-12 text-left">
                        <button type="button" class="btn btn-primary" onclick="addRowToTable('tabelaOrigens')">Adicionar</button>
                    </div>
                </div>
            </div>
            <div class="col-12 text-left">
                <button type="button" class="btn btn-warning" onclick="salvar('tabelaResumo','tabelaOrigens')" style="margin-top:5px">Salvar</button>
            </div>
        </div>
    </body>

<script>
    //Adiciona linha na tabela
    function addRowToTable(tableId) {
        var x = document.getElementById(tableId).insertRow();
        var nome = x.insertCell(0);
        var apagar = x.insertCell(1);
     
        nome.innerHTML = '<td><input type="text" class="form-control"></td>';
        apagar.innerHTML = '<td><button type="button" class="btn btn-danger" onclick="deleteRow(this.parentNode.parentNode.parentNode,this)">Apagar</button><td>';
    }

    //Deleta linha da tabela de gastos
    function deleteRow(table, elemento) {
        table.deleteRow(elemento.parentNode.parentNode.rowIndex);
        //UpdateTables();
    }

    //Salva as classes em arquivo
    function salvar(resumo, origens) {
        var tabelaResumo = document.getElementById(resumo).rows;
        var tabelaOrigens = document.getElementById(origens).rows;

        var listaResumo = [];
        var listaOrigens = [];
        for (var i = 1; i < tabelaResumo.length; i++) {
            if(tabelaResumo[i].cells[0].firstChild.value.length>0)
                listaResumo.push(tabelaResumo[i].cells[0].firstChild.value);
        }

        for (var i = 1; i < tabelaOrigens.length; i++) {
            if(tabelaOrigens[i].cells[0].firstChild.value.length>0)
                listaOrigens.push(tabelaOrigens[i].cells[0].firstChild.value);
        }
        
        var postData = { resumo: listaResumo, origens: listaOrigens };
                       
        $.ajax({
            type: "POST",
            url: "/gastos/Home/SalvarTabelas",
            data: postData,
            success: function() {alert("Salvo com Sucesso")}
        });

    }

    //Lê arquivo e preenche as tabelas de classes
    function preencherTabelas(tabelaResumo,tabelaOrigens)
    {
        $.ajax({
            type: "POST",
            url: "/gastos/Home/CarregarItens",
            success: function (data) {
                //Preenche a tabela de classes de tipos de despesa
                for (var i = 0; i < data.resumos.length; i++) {
                    var tabelaInsert = document.getElementById(tabelaResumo).insertRow();
                    var nome = tabelaInsert.insertCell(0);
                    var apagar = tabelaInsert.insertCell(1);
                    nome.innerHTML = '<td><input type="text" class="form-control"></td>';
                    apagar.innerHTML = '<td><button type="button" class="btn btn-danger" onclick="deleteRow(this.parentNode.parentNode.parentNode,this)">Apagar</button><td>';
                }
                var linhasResumo = document.getElementById(tabelaResumo).rows;
                for (var i = 0; i < data.resumos.length; i++) {
                    linhasResumo[i+1].cells[0].firstChild.value = data.resumos[i];
                }
                //Preenche a tabela de classes de tipos de descrições
                for (var i = 0; i < data.origens.length; i++) {
                    var tabelaInsert = document.getElementById(tabelaOrigens).insertRow();
                    var nome = tabelaInsert.insertCell(0);
                    var apagar = tabelaInsert.insertCell(1);
                    nome.innerHTML = '<td><input type="text" class="form-control"></td>';
                    apagar.innerHTML = '<td><button type="button" class="btn btn-danger" onclick="deleteRow(this.parentNode.parentNode.parentNode,this)">Apagar</button><td>';
                }
                var linhasOrigens = document.getElementById(tabelaOrigens).rows;
                for (var i = 0; i < data.origens.length; i++) {
                    linhasOrigens[i+1].cells[0].firstChild.value = data.origens[i];
                }
            }
        });
        
        
    }
    
</script>

