@{
    ViewData["Title"] = "tbit";
}
    <head>
        <script src="~/js/jsPDF.js"></script>
        <script src="~/js/html2Canvas.js"></script>
        <script src="~/js/jQueryMin.js"></script>
        <script src="~/js/autoTable.js"></script>
    </head>

<body onload="preencherTabelas('tabelaResumo','tabelaOrigens')">
    <div class="container" style="margin-top:20px;width:100%">
        <div class="row">
            <div class="text-center col-sm">
                <h1 class="display-4">Prestação de Contas</h1>
            </div>
        </div>
        <div class="row jumbotron">
            <form class="col-12" id="formulario">
                <h2>Dados Pessoais</h2>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Viagem (Destino)</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Data(Início)</label>
                        <input type="date" data-date class="form-control" placeholder="Data">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Data(Fim)</label>
                        <input type="date" class="form-control" placeholder="Data">
                    </div>
                    <div class="form-group col-md-4"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Funcionário</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Número do Cartão</label>
                        <input type="text" class="form-control" onkeypress="return isNumberKey(event)" maxlength="4">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Objetivo</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>

            <form class="col-12">
                <br />
                <H2>Tabela de Gastos</H2>

                <table class="table" id="tabela_gastos">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Despesa</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Observação</th>
                            <th scope="col">Apagar</th>
                        </tr>
                    </thead>
                </table>
            </form>
        <div class="col-12 text-left">
            <button type="button" class="btn btn-primary" onclick="addRowToTable('tabela_gastos')">Adicionar</button><br /><br />
        </div>
        </div>

        <div class="row jumbotron">
            <div class="col-12">
                <br />
                <H2>Resumo</H2>
                <table class="table table-bordered" id="tabelaResumo">
                    <colgroup>
                        <col width="150" />
                        <col width="50" />
                    </colgroup>
                    <thead >
                        
                    </thead>
                </table>
            </div>
        </div>

        <div class="row jumbotron">
            <div class="col-12">
                <br />
                <H2>Origens</H2>
                <table class="table table-bordered" id="tabelaOrigens">
                    <colgroup>
                        <col width="150" />
                        <col width="50" />
                    </colgroup>
                    <thead>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-12 text-center" style="padding-left:0px">
            <button type="button" class="btn-lg btn-warning btn-block" onclick="CriaPDF()">Salvar</button>
        </div>
    </div>
    

</body>

<script>
    //Adiciona linha na tabela de gastos
    function addRowToTable(tableId) {
        // Pega elemento através do ID para adicionar os campos
        var x = document.getElementById(tableId).insertRow();
        var data = x.insertCell(0);
        var despesa = x.insertCell(1);
        var valor = x.insertCell(2);
        var descricao = x.insertCell(3);
        var observacao = x.insertCell(4);
        var apagar = x.insertCell(5);

        // Preenche os campos da linha da tabela de gastos
        data.innerHTML = '<td><input type="date" class="form-control"></td>';
        despesa.innerHTML = '<td><select class="custom-select" onchange="UpdateTables(this)"></select></td>';
        var tabelaGastos = document.getElementById(tableId).rows;
        var select = tabelaGastos[(tabelaGastos.length - 1)].cells[1].firstChild;
        var options = [];

        //Preenche o dropDown de despesas
        var tabelaResumo = document.getElementById("tabelaResumo").rows;
        for (var i = 0; i < tabelaResumo.length-1; i++) {
            options.push(tabelaResumo[i].cells[0].innerText);
        }
        for(var i = 0; i < options.length; i++) {
            var opt = options[i];
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = i;
            select.appendChild(el);
        }

        valor.innerHTML = '<td><input type="text" class="form-control" onchange="UpdateTables(this)" onkeypress="return isNumberKey(event)"></td>';
        descricao.innerHTML = '<td><select class="custom-select" onchange="UpdateTables(this)"></select></td>'
        var selectDescricao = tabelaGastos[(tabelaGastos.length - 1)].cells[3].firstChild;
        var optionsDescricao = [];

        //Preenche o dropdown de descrições
        var tabelaOrigens = document.getElementById("tabelaOrigens").rows;
        for (var i = 0; i < tabelaOrigens.length-1; i++) {
            optionsDescricao.push(tabelaOrigens[i].cells[0].innerText);
        }
        for(var i = 0; i < optionsDescricao.length; i++) {
            var opt = optionsDescricao[i];
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = i;
            selectDescricao.appendChild(el);
        }
        observacao.innerHTML = '<td><input type="text" class="form-control"></td>';
        apagar.innerHTML = '<td><button type="button" class="btn btn-danger" onclick="deleteRow(\'tabela_gastos\',this)">Apagar</button><td>';

    }

    //Deleta linha da tabela de gastos
    function deleteRow(tableId, elemento) {
        var x = document.getElementById(tableId);
        x.deleteRow(elemento.parentNode.parentNode.rowIndex);
        UpdateTables();
    }

    //Gera PDF
    function CriaPDF() {

        //Verifica se todos os campos obrigatórios estão preenchidos
        if (verificaCampos())
        {
            alert("Preencha todos os campos!");
        }

        //Cria PDF se todos os campos estiverem preenchidos
        else
        {
            var doc = new jsPDF();

            //Largura da página
            var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();

            var formulario = document.getElementById('formulario').elements;
            doc.setFont('arial');
            doc.setFontSize(24);
            doc.text('Prestação de Contas', pageWidth / 2, 15, 'center');


            doc.setFontSize(16);
            doc.text('Dados Pessoais', 15, 30);
            doc.setFontSize(10);
            doc.text('Viagem (Destino): ' + formulario[0].value, 15, 40);
            doc.text('De ' + changeDateFormat(formulario[1].value) + ' até ' + changeDateFormat(formulario[2].value), 15, 45);
            doc.text('Funcionário: '+ formulario[3].value, 15, 50);
            doc.text('Número do Cartão: '+ formulario[4].value, 15, 55);
            doc.text('Objetivo: '+ formulario[5].value, 15, 60);


            //Tabela de Resumo
            doc.setFontSize(16);
            doc.text('Resumo', 15, 70);
            var tabelaResumo = document.getElementById('tabelaResumo').rows;
            var rowResumo = [];
            for (var i = 0; i < tabelaResumo.length; i++) {
                var row = [];
                row.push(tabelaResumo[i].cells[0].innerText);
                row.push(tabelaResumo[i].cells[1].innerText);
                rowResumo.push(row);
                row = [];
            }
            doc.autoTable(['', ''], rowResumo, { startY: 72, styles: { cellPadding: 1.5, fillColor: [196, 243, 200], textColor: 20, fontSize: 8 }, headerStyles: { textColor: 20, fontSize: 8 } });

            //Tabela de Origens
            var posInicio = (70 + (tabelaResumo.length * 7));
            doc.text('Origens', 15, posInicio);
            var tabelaOrigens = document.getElementById('tabelaOrigens').rows;
            var rowOrigens = [];
            for (var i = 0; i < tabelaOrigens.length; i++) {
                var row = [];
                row.push(tabelaOrigens[i].cells[0].innerText);
                row.push(tabelaOrigens[i].cells[1].innerText);
                rowOrigens.push(row);
                row = [];
            }
            doc.autoTable(['', ''], rowOrigens, { startY: posInicio+2, styles: { cellPadding: 1.5, fillColor: [196, 243, 200], textColor:20,fontSize:8 },headerStyles: {textColor:20,fontSize:8}});

            var dicionarioDespesa = [];
            var dicionarioDescricao = [];

            for (var i = 0; i < tabelaResumo.length - 1; i++) {
                dicionarioDespesa.push(tabelaResumo[i].cells[0].innerText);
            }
            for (var i = 0; i < tabelaOrigens.length - 1; i++) {
                dicionarioDescricao.push(tabelaOrigens[i].cells[0].innerText);
            }
            //Tabela de Gastos
            var posInicioDetalhamento = posInicio + 2 + (7 * tabelaOrigens.length)+5;
            doc.text('Detalhamento', 15, posInicioDetalhamento);
            doc.setFontSize(16);
            var tabelaGastos = document.getElementById('tabela_gastos').rows;
            var rowGastos = [];
            for (var i = 1; i <= tabelaGastos.length-1; i++) {
                var row = [];
                row.push(changeDateFormat(tabelaGastos[i].cells[0].firstChild.value));
                row.push(dicionarioDespesa[tabelaGastos[i].cells[1].firstChild.value]);
                row.push("R$" + parseFloat(tabelaGastos[i].cells[2].firstChild.value).toFixed(2));
                row.push(dicionarioDescricao[tabelaGastos[i].cells[3].firstChild.value]);
                row.push(tabelaGastos[i].cells[4].firstChild.value);
                rowGastos.push(row);
                row = [];
            }
            doc.autoTable(['Data', 'Despesa', 'Valor', 'Descrição', 'Observação'], rowGastos, { startY: posInicioDetalhamento+2, styles: { cellPadding: 1.5, fillColor: [196, 243, 200], textColor:20, fontSize:8 },headerStyles: {textColor:20, fontSize:8}});            
            doc.save('Prestação de Contas.pdf');
        }
    }

    //Atualiza as tabelas de resumo e origens
    function UpdateTables() {
        //Recupera as linhas das tabelas através dos Ids
        resumo = document.getElementById('tabelaResumo').rows;
        origens = document.getElementById('tabelaOrigens').rows;
        gastos = document.getElementById('tabela_gastos').rows;

        despesas = [];
        for (var i = 0; i < resumo.length; i++)
        {
            despesas.push(0.0);
        }
        descricoes = []
        for (var i = 0; i < origens.length; i++)
        {
            descricoes.push(0.0);
        }

        var total = 0.0;

        //Atualiza os valores das tabelas de resumo e origens a partir da tabela de gastos e calcula o valor total
        for (i = 1; i < gastos.length; i++) {
            despesa = gastos[i].cells[1].firstChild.value;

            if (gastos[i].cells[2].firstChild.value.length > 0)
                valor = gastos[i].cells[2].firstChild.value;
            else
                valor = 0.0;
            descricao = gastos[i].cells[3].firstChild.value;

            total += parseFloat(valor);
            despesas[despesa] += parseFloat(valor);
            descricoes[descricao] += parseFloat(valor);

        }

        //Atualiza vizualmente a tabela de resumo
        for (var i = 0; i < resumo.length - 1; i++) {
            resumo[i].cells[1].innerHTML = "R$" + despesas[i].toFixed(2);

        }

        //Atualiza vizualmente a tabela de origens
        for (var i = 0; i < origens.length - 1; i++) {
            origens[i].cells[1].innerHTML = "R$" + descricoes[i].toFixed(2);
        }

        //Atualiza vizualmente os valores totais
        resumo[resumo.length - 1].cells[1].innerHTML = ("R$" + total.toFixed(2)).bold();
        origens[origens.length - 1].cells[1].innerHTML = ("R$" + total.toFixed(2)).bold();
    }

    //Verifica se o caractere digitado é um número
    function isNumberKey(evt)
    {
        if ((evt.keyCode > 47 && evt.keyCode < 58) || evt.keyCode == 46)
            return true;
        //Substitui , por . nos campos de valor
        if (evt.keyCode == 44) {
            evt.currentTarget.value += '.';
            return false;
        }
        return false;
    }

    //Verifica se há campos sem preencher
    function verificaCampos()
    {
        var dadosPessoais = document.getElementById("formulario");
        if (dadosPessoais[0].value.length == 0 || dadosPessoais[1].value.length == 0 || dadosPessoais[2].value.length == 0 || dadosPessoais[3].value.length == 0 || dadosPessoais[4].value.length == 0 || dadosPessoais[5].value.length == 0) {
            //Muda a borda do input para vermelho se estiver vazio
            if (dadosPessoais[0].value.length == 0)
                dadosPessoais[0].style.borderColor = "red";
            else
                dadosPessoais[0].style.borderColor = "grey";

            if (dadosPessoais[1].value.length == 0)
                dadosPessoais[1].style.borderColor = "red";
            else
                dadosPessoais[1].style.borderColor = "grey";

            if (dadosPessoais[2].value.length == 0)
                dadosPessoais[2].style.borderColor = "red";
            else
                dadosPessoais[2].style.borderColor = "grey";

            if (dadosPessoais[3].value.length == 0)
                dadosPessoais[3].style.borderColor = "red";
            else
                dadosPessoais[3].style.borderColor = "grey";

            if (dadosPessoais[4].value.length == 0)
                dadosPessoais[4].style.borderColor = "red";
            else
                dadosPessoais[4].style.borderColor = "grey";

            if (dadosPessoais[5].value.length == 0)
                dadosPessoais[5].style.borderColor = "red";
            else
                dadosPessoais[5].style.borderColor = "grey";

            return true;
        }
        else {
            dadosPessoais[0].style.borderColor = "grey";
            dadosPessoais[1].style.borderColor = "grey";
            dadosPessoais[2].style.borderColor = "grey";
            dadosPessoais[3].style.borderColor = "grey";
            dadosPessoais[4].style.borderColor = "grey";
            dadosPessoais[5].style.borderColor = "grey";
        }
        var flag = false;
        var gastos = document.getElementById(("tabela_gastos")).rows;
        var vazio = false;

        if (gastos.length > 1) {
            for (var i = 1; i < gastos.length; i++)
            {
                if (gastos[i].cells[0].firstChild.value.length == 0 || gastos[i].cells[1].firstChild.value.length == 0 || gastos[i].cells[2].firstChild.value.length == 0 || gastos[i].cells[3].firstChild.value.length == 0) {
                    flag = true;
                    if (gastos[i].cells[0].firstChild.value.length == 0)
                        gastos[i].cells[0].firstChild.style.borderColor = "red";
                    else
                        gastos[i].cells[0].firstChild.style.borderColor = "grey";

                    if (gastos[i].cells[2].firstChild.value.length == 0)
                        gastos[i].cells[2].firstChild.style.borderColor = "red";
                    else
                        gastos[i].cells[2].firstChild.style.borderColor = "grey";
                }
            }
            if(flag)
                return true;
        }
        return false;
    }
    //Muda formato da data de YYYY-MM-DD para DD-MM-YYYY
    function changeDateFormat(date) {
        return date[8] + date[9] + '-' + date[5] + date[6] + '-' + date[0] + date[1] + date[2] + date[3];
    }

    // Preenche todas as tabelas a partir do arquivo de classes
    function preencherTabelas(tabelaResumo,tabelaOrigens){
        $.ajax({
            type: "POST",
            url: "/gastos/Home/CarregarItens",
            success: function (data) {

                //Cria tabela de resumos com a quantidade de itens na classe de resumo
                for (var i = 0; i < data.resumos.length; i++) {
                    var tabelaInsertResumo = document.getElementById(tabelaResumo).insertRow();
                    var nome = tabelaInsertResumo.insertCell(0);
                    var valor = tabelaInsertResumo.insertCell(1);
                    nome.innerHTML = '<td><label></label></td>';
                    valor.innerHTML = '<td>R$0.00<td>';
                    
                }
                //Coloca os valores na tabela de resumos
                var linhasResumo = document.getElementById(tabelaResumo).rows;
                for (var i = 0; i < data.resumos.length; i++) {
                    linhasResumo[i].cells[0].innerHTML = data.resumos[i];
                }
                //Insere a linha para receber o valor total na tabela
                var tabelaInsertResumo = document.getElementById(tabelaResumo).insertRow();
                var total = tabelaInsertResumo.insertCell(0);
                var valorTotal = tabelaInsertResumo.insertCell(1);
                total.innerHTML = '<td><label><b>Total</b></label></td>';
                valorTotal.innerHTML = '<td><b>R$0.00<b/><td>';

                //Cria tabela de origens com a quantidade de itens na classe de origenm
                for (var i = 0; i < data.origens.length; i++) {
                    var tabelaInsert = document.getElementById(tabelaOrigens).insertRow();
                    var nome = tabelaInsert.insertCell(0);
                    var apagar = tabelaInsert.insertCell(1);
                    nome.innerHTML = '<td><label></label></td>';
                    apagar.innerHTML = '<td>R$0.00<td>';
                }
                //Coloca os valores na tabela de resumos
                var linhasOrigens = document.getElementById(tabelaOrigens).rows;
                for (var i = 0; i < data.origens.length; i++) {
                    linhasOrigens[i].cells[0].innerHTML = data.origens[i];
                }

                var tabelaInsertOrigens = document.getElementById(tabelaOrigens).insertRow();
                total = tabelaInsertOrigens.insertCell(0);
                valorTotal = tabelaInsertOrigens.insertCell(1);
                total.innerHTML = '<td><label><b>Total</b></label></td>';
                valorTotal.innerHTML = '<td><b>R$0.00<b/><td>';
            }
        });
        
    }
</script>